# `secrets.auto.tfvars`

# It is not checked into version control
# It is used to store secrets for the database module

# 1. create `secrets.auto.tfvars` file in the same directory as this file
# 2. Add the following content to the file
# 3. Replace the values with your own

db_username = "admin"
db_password = "securepassword"
